DOMAIN=localhost, mydomain.com or something.mydomain.com...
PROTOCOL=http:// or https://
AUTOIMPORTER=true or false
DISCORD_BOT_TOKEN=the bot token
DISCORD_GUILD_ID=server id
DISCORD_APP_ID=bot id
DISCORD_DEV_MODE=true or false
DISCORD_DEV_ID=author user id
DISCORD_PRIV_UPDATES_WEBHOOK=url of the dev webhook
DISCORD_PUBLIC_UPDATES_WEBHOOK=orl of the production webhook